@import 'main';


// PAGE STYLES


/* ///////////////// */
/*     HOME PAGE     */
/* ///////////////// */

/* Section Hero */

.section-hero {
	padding:			0;
	position:			relative;
	color:				$color-white;
	transition: 		$animated-normal;
	background-color:	#1d1d1d;
	
	.hero-container {
		padding:			170px 0 120px 0;
		position:			relative;
		transition: 		$animated-normal;
		z-index:			2;
			
		.hero-block {
			padding:	0;	
			h1 {margin:		0 0 30px 0;}
			.slogan {
				display: 		inline-block;
				border:			1px solid rgba(242,241,240,0.55);
				border-width:	1px 0;
				padding:		5px 0;
				margin-bottom:	35px;

				p {margin:		0; font-size: 18px;}
			}			
		}
	}
}



/* ///////////////// */
/*    INNER PAGES    */
/* ///////////////// */

/* Section Banner */

.section-banner {
	padding:			120px 0;
	position:			relative;
	color:				$color-white;
	transition: 		$animated-normal;
	background-color:	#1d1d1d;
	margin-bottom:		0;
	
	.container {			
		.title-block {
			padding:		0;	
			h1 {margin:		0;}
		}
	}
}


/* Section Default */

.section-default {
	padding:			80px 0;
	
	.container {
		.content-group {
			.content-block {
				margin-bottom:		60px;

				&:last-child {margin: 0;}
				.title-block {
					padding:		0;	
					h1 {margin:		0;}
				}
			}
		}		
	}
}

.sidebar-right {
	.getquote-block {
		padding:			70px 20px 60px 20px;
		margin-bottom:		60px;
		position:			relative;
		z-index:			1;

		&:after {
			background:		rgba(45, 43, 40, 0.55);
			content:		"";
			top:			0;
			left:			0;
			width:			100%;
			height:			100%;
			position:		absolute;
		}

		h3 {
			font-size:		20px;
			position:		relative;
			z-index:		1;
		}
	}

	.spotlight-block {
		background:			$color-white;

		.title-block {
			padding:		25px;
			border-bottom:	2px solid #f5f5f5;

			h3 {
				font-size:	20px;
				margin:		0;
			}
		}

		.spotlight-container {
			padding:		25px;

			.content-block {
				
				h4 {
					font-size:	16px;
				}

				a, p, .img-block {
					font-size: 			14px;
					margin-bottom:		20px;
				}

				p {
					line-height:		23px;
				}
			}

			.owl-carousel {
				.owl-controls {
					margin:				0;
					.owl-buttons {
						display:		none;
					}
				}
			}
		}
	}
}


.section-blog-list{
	background: 		$color-lightgrey;
	padding:			60px 0;
	
	.container{
		max-width:		1184px!important;

		.blog-group {
			margin-bottom: 		0px;

			.blog-block {
				display: 			block;
				margin-bottom: 		50px;

				.img-block {
					margin-bottom: 		20px;
					display: 			inline-block;
					width: 				auto;
					img {max-width: 300px;}
				}

				.blog-content {
					padding: 0px;
					font-size: 16px;

					a {
						color: $color-primary;

						&:hover {color: $color-orange;}
					}

					h3 {font-size: 18px; line-height: 26px; margin-bottom: 10px;}
					.date {font-size: 14px;color: #888a8c;margin-bottom: 20px;}
					.button {font-size: 16px;padding: 0; text-align: left;}
				}
			}
		}

		.pagination{
			display:			block;
			overflow:			hidden;
			border-radius:		0px;
			padding:			30px 0 30px 0;
			margin:				0;
			border-top: 		1px solid #e4e4e4;

			a, span {
				display:block;
				float:left;font-size:14px; margin-right: -1px;font-weight:600; border: 1px solid #ebebeb; background: #fff;color:#6d6d6d;padding:0px;width:36px;height:36px;line-height:32px;text-align:center;transition:all 0.2s;

				&:hover {color:#de2943;}
			}
			span{background:#f5f5f5;color:#6d6d6d;border-radius:3px}
		}
		
	}
}


.section-blog-details {
	.container {
		.title-block{
			margin-bottom:	20px;
			h2 {margin-bottom:0px}
			h3 {font-size:20px}
		}

		.img-block {margin-bottom:40px}

		.paragraph-block{
			margin-bottom:40px;
			ul {
				li{margin-bottom:10px;font-size:16px}
			}
		}

		.heading-block {
			margin-bottom: 30px;
			.section-title {font-size: 28px;}
			.post-info {font-size: 16px; color: #747474;}
		}

		.comment-block {
			border-top: 1px solid #e4e4e4;
			margin-top: 5px;
			padding-top: 25px;
			h3{margin-bottom: 20px;}
			.form-control{
			    background: #fff;
			    border: 1px solid #e1e1e1;
			    border-radius: 2px;
			    box-shadow: none;
			    color: #98999a;
			    font-size: 16px;
			    height: inherit;
			    line-height: normal;
			    padding: 20px;
			    -webkit-appearance: none;
			}
		}

		.nav-block {padding: 20px 0; border-top: 1px solid #e4e4e4;border-bottom: 1px solid #e4e4e4;
			a {padding: 0; font-size: 16px; min-width: inherit!important; }
			.text-left a {text-align: left;}
			.text-right a {text-align: right;}
			a i{height: 16px;overflow: hidden;display: inherit;}
		}
	}
}


/* Application Form */

#apply_form {
	background:		$color-white;
	padding:		35px;
}




/* ///////////////////// */
/*    RESPONSIVE VIEW    */
/* ///////////////////// */

@media (max-width: 1280px) 	{}
@media (max-width: 1200px) 	{.container {width:100%;}}
@media (max-width: 1100px) 	{}
@media (max-width: 992px) 	{}

@media screen and (max-width: 990px) and (min-width: 769px) {	
	#header { 		
		.top {
			.container {
				.top-left-block, .top-right-block {
					ul {
						li {
							margin-right:		12px;
							&:last-child {margin-right:0;}
						}
					}
				}
				.top-right-block {
					ul {
						li {
							margin-right:	0px;
							margin-left:	12px;
						}
					}
				}
			}
		}

		.logo-link {
			margin-top:				12px;
		
			.logo {
				width: 				240px;
				height: 			77px;
				background-size:	100%;
			}
		}
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {}

@media (max-width: 768px) {

	#header {
		&.original {display: block; position:	absolute;}
	}

	#header {
		height: 	66px; 
		position:	fixed;		
		.logo-link {margin:0;}
		.logo {
			background: url('../images/vma-logo.png') no-repeat center center;
			background-size: 100%;
		}
		.logo {width: 156px; height: 46px;}
		.navbar-default .navbar-toggle {margin-top: 37px;}
	}
 
	.navbar-default {		
		.navbar-toggle {			
			.icon-bar {background-color: #505050;}			
			&:hover,&:focus		{
				.icon-bar 		{background-color: #505050;}
			}
		}		 
	}

	.button-block {text-align: center;}

	.slide{	
		&.slide--reset {		
			background:		#ffffff;
			position:		fixed;
			opacity:		1;
			.logo {
				background: url('../images/vma-logo.png') no-repeat center center;
				background-size: 100%;
			}
		}
		&.headroom--top {		
			-webkit-transition:all .25s ease-in-out;
			-moz-transition:all .25s ease-in-out;
			-o-transition:all .25s ease-in-out;
			transition:all .25s ease-in-out;
			
			-webkit-transform:translateY(-100%);
			-ms-transform:translateY(-100%);
			transform:translateY(-100%);
			background:		transparent;		
			box-shadow: 	none;
			position:		fixed;
			visibility: 	hidden;
			opacity:		0;
			.logo {
				background: url('../images/vma-logo-w.png') no-repeat center center;
				background-size: 100%;
			}		
			.navbar-default {		
				.navbar-toggle {			
					.icon-bar {background-color: #ffffff;}			
					&:hover,&:focus	{
						.icon-bar {background-color: #ffffff;}
					}
				}		 
			}
			.vma-search {display:none;}
		}
		&.slide--up{
			-webkit-transform:translateY(-100%);
			-ms-transform:translateY(-100%);
			transform:translateY(-100%);
			position:fixed;
			xopacity:		0;
			transition: $animated-normal;
		}
		&.headroom--not-top{
		}
	}


	/* Nav */
	
	.navbar .navbar-nav li a:before {display: none;}
	header .logo-link {margin-bottom:9px;}
	
	.navbar {
		position:absolute;
		width: 100%;
		height:100%!important;
		background:none;
		xoverflow:hidden;
		margin-top: -70px;
	
	
		.navbar-collapse {
			border: medium none;
			box-shadow: none;
			display: block;
			position: fixed;
			right: -275px;
			width: 75%;		
			max-width: 275px;
			background:#ffffff;
			height:100%;
			top: 0;
			padding:0;
			transition: all 0.2s;
			min-height:100%;
		}
			
		.navbar-collapse.in {		
			overflow: visible;
			right: 0;
			display: block;
			width: 75%;
			height: 100% !important;
			min-height: 100% !important; 
			max-width: 275px;
			box-shadow: 10px 0px 45px rgba(0,0,0,0.8);
		}
		
		.collapse.in {		
			height:100%!important;
			min-height:100%!important;
		}
		.navbar-header {
			max-width:				86px;
			float:					right;
		}
		
		
		.navbar-default .navbar-nav > li {
			margin-left: 			0px;		
			margin-right: 			0px;
			background: 			transparent;
		}
		
		.navbar-default .navbar-nav > li > a,
		.navbar-default .navbar-nav > li:last-child > a	{
			text-align:				left;
			background:				none;
			padding:				15px 25px;
			transition:				all 0.2s;;
		}
		
		.navbar-default .navbar-nav > .active > a,
		.navbar-default .navbar-nav > li:hover > a,
		.navbar-default .navbar-nav > li:last-child:hover > a,
		.navbar-default .navbar-nav > .current_page_item > a,
		.navbar-default .navbar-nav > .current_page_item > a:hover,
		.navbar-default .navbar-nav > .current_page_item > a:focus{ 
			color: 				#fff!important;
			background-color:	$color-orange!important
		}
		
		.navbar-nav {
			float: none;
			padding:0;
			margin:0;
			
			li {
				position:relative;
				margin-left: 0px;
				&:last-child > a {xpadding: 7px 0px 7px 12px;}			
				a {
					font-size:			17px;
					line-height:		28px;
					padding:			15px 25px;
					text-align:			left;

					&:before {display: none;}
					&:hover,&:focus,&.open {color: #fff; background-color:	$color-orange;}		
				}
				
			}
			
			.active {
				a {
					padding: 7px 0px 7px 12px;				
					&:hover,
					&:focus {
						background:		transparent;
						color: 			#1abc9c;
					}
				}
			}
			
			.menu-item-has-children {
				a {
					padding-right:20px; color:#ffffff;
					background: $color-orange url(../images/sub-menu-icon-up-w.png) calc(100% - 25px) center no-repeat!important; padding-right:20px;
					&:hover,&:focus {background: $color-orange url(../images/sub-menu-icon-up-w.png) calc(100% - 25px) center no-repeat!important; color:#ffffff; }
				}
				
				&.down a {
					padding-right:20px; color: #2f3234;
					background: #ffffff url(../images/sub-menu-icon.png) calc(100% - 25px) center no-repeat!important; padding-right:20px;
					&:hover,&:focus {background: $color-orange url(../images/sub-menu-icon-down-w.png) calc(100% - 25px) center no-repeat!important;color:#ffffff; }
				}
				
				ul.sub-menu {
					margin:				0;
					padding:			0;
					position:			relative;
					min-width:			inherit;
					
					li {
						padding:		0;
						margin:			0;
						position:		relative;					
						a{padding: 15px 25px 15px 50px;border-top: none; background:none!important;
							&:hover,&:focus {background: $color-orange!important;color:#ffffff; }
						}
					}
				}
				
			}
		}
		
		.search {float: none;margin: 20px 26px;}
	}
	
	
	.main-container {margin:0;}
	
	
	/* Titles */

	.h1 	{font-size: 36px;}
	.h2 	{font-size: 28px;}
	.h3 	{font-size: 24px;}
	.h4 	{font-size: 20px;}
	.h5 	{font-size: 18px;}
	
	.xrow				{margin:0px;}		 



	

	.error404 {
		.original {display: none;}
		.slide.headroom--top {display: block; visibility: visible; opacity:1; transform: none; background:#fff;
			.logo {
				background: url('../images/vma-logo.png') no-repeat center center;
				background-size: 100%;
			}
			.navbar-default .navbar-toggle .icon-bar {background: #505050}
		}
	}
 
}

@media (max-width: 520px) {

	
	/* Buttons */	
	.button {
		padding:0.9em 1.5em; font-size: 16px; min-width: 250px; max-width: 300px; text-align:center;
		span {vertical-align: middle; font-size: 25px; margin-top:-10px; margin-left: 5px;}
	}
		
	.error404 {
		#header.original {display: none;}
		.not-found-container {
			border-radius:			3px;
			width:					100%;
			height:					100%;
			max-width:				100%;
			max-height:				100%;
			position:				relative;
			top:					inherit;
			margin-top:				80px;
			left:					inherit;
			margin-left:			inherit;
			text-align:				center;
			
			.content-box {
				padding:				40px;
				background:				transparent;
				
				h3{
					font-size:				24px;
					line-height:			32px;
				}
				
				p{font-size:16px;}
			}
		}
	}
	
	footer {			
		.section-footer {
			.container {
				padding: 0 20px;
				.col-sm-3 {margin-bottom:40px; padding-right: 0; width:50%; }	
				.col-sm-6 {width:100%; float: none; xpadding-right: 0; clear: both;}						
			}
		}	
	}

}

@media (max-width: 320px) {}