// COLOR

$color-primary:				#2f3234;
$color-blue:				#008fc6;
$color-lightgrey:			#f5f5f5;
$color-white:				#ffffff;
$color-red:					#de2943;
$color-yellow:				#f68a29;
$color-purple:				#583ca0;
$color-green:				#5e8e2a;
$color-orange:				#f58026;
$color-grey:				#8b8b8b;

// FONT

$open-sans:					'Open Sans';

$light:						300;
$regular:					400;
$semibold:					600;
$bold:						700;
$extrabold:					800;
$italic:					italic;

$animated-normal: 			all 0.2s;


// BODY STYLES

html,body {width: auto;height: auto;margin: 0;padding: 0; }
html {height: 100%;-webkit-font-smoothing: antialiased;}

/* General */
 
body {
	font-size: 				15px;
	font-family: 			$open-sans;
	background: 			$color-white;
	color: 					$color-primary;
	transition: 			all 0.4s;
}

html.noscroll body					{background:#000; transition: $animated-normal;}

a {
	color: 					$color-orange;
	outline:				none;
	-webkit-font-smoothing:	antialiased;
	
	&:hover,
	&:focus {
		outline: 				none;
		color: 					$color-orange;
		text-decoration: 		none!important;
	}
}

.h1, .h2, .h3, .h4, .h5,
h1, h2, h3, h5 {
	font-weight: 			$light; 
	margin:					0 0 20px 0;
	-webkit-font-smoothing:	antialiased; 
}

h4 {font-weight: $regular;	font-size: 24px;}
h5 {font-weight: $semibold;	font-size: 20px;}

p, ul, li {
	font-size: 				15px;
	font-family: 			$open-sans;
	line-height: 			26px;
	margin-bottom: 			20px;
	-webkit-font-smoothing:	antialiased; 
}

li {margin:0}


.clear 				{clear: both;}
.pointer			{cursor: pointer;}

.text-light			{font-weight: 	$light;}
.text-regular		{font-weight: 	$regular!important;}
.text-bold			{
	font-weight: 	$bold!important;
	.icon {
		&:before {font-weight: 	$bold!important;}
	}
}

.text-semibold		{
	font-weight: 	$semibold!important;
	.icon {
			&:before {font-weight: 	$bold!important;}
		}
}
.text-extrabold		{font-weight: 	$extrabold;}
.text-italic		{font-style:	$italic;}

.uppercase		{text-transform: uppercase!important;}
.capitalize		{text-transform: capitalize!important;}

.relative 		{position: relative;}
.absolute 		{position: absolute;}

.block 			{display: block;}
.inline-block 	{display: inline-block;}
.animated-normal 	{transition: $animated-normal;}

.before:before,
.after:after {
	position: absolute;
	display: block;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.no-padding 		{padding: 0 !important;}
.no-margin 			{margin: 0 !important;}

.no-padding-left 	{padding-left: 0 !important;}
.no-padding-right 	{padding-right: 0 !important;}

.section 			{width:	100%;}
.section-parallax {
	.container {
		position:			relative;
		transition: 		$animated-normal;
		z-index:			2;
	}
}

.h1 	{font-size: 46px;}
.h2 	{font-size: 24px;}
.h3 	{font-size: 20px;}
.h4 	{font-size: 24px;}
.h5 	{font-size: 20px;}

.full-width 		{width: 100%;}
.fill {
	width: 					100%;
	background-position: 	center center;
	background-repeat: 		no-repeat;
	background-size: 		cover;

	&.fill-top {background-position: top center;}
}

.horizontal-center, .horizontal-left, .horizontal-right {float: none;}

.horizontal-center {margin-left: auto;margin-right: auto;left: 0;right: 0;}
.horizontal-left {margin-left: 0;margin-right: auto;left: 0;}
.horizontal-right {margin-left: auto;margin-right: 0;right: 0;}
.vertical-center {
	z-index: 1;
	position: absolute;
	top: 50%;	
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.pull-bottom {display: inline-block;vertical-align: bottom;float: none;}
.pull-middle {display: inline-block; vertical-align: middle!important;float: none;}


/* Buttons */

.button,
a.button  {
	min-width: 150px;
	max-width: 400px;
	display: inline-block;
	padding: 15px 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	font-size: 18px;
	text-transform: uppercase;
	border-radius: 3px;
	
	&:focus {outline: none;}
	span {vertical-align: middle; font-size: 29px; margin-top:-10px; position: relative; margin-left: 5px;bottom: 5px;}

	.icon {font-size: 16px; position: relative; top: 1px;}
}

.button-normal {	
	color: $color-orange;
	&:focus, &:hover {color: $color-primary;}
}

a.button,
.button-primary {
	overflow: hidden;
	-webkit-transition: border-color 0.3s, color 0.3s;
	transition: border-color 0.3s, color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	color:	$color-orange;	
	&:hover {color: #fff; border-color: $color-orange;}
}



.button-border-white {
	border: 1px solid #ffffff;
	color:	#ffffff;
	
	&:before {background: #ffffff;}	
	&:hover {color: #232323; border-color: #ffffff;}
	//&:focus {color: #ffffff;}
	
	.button-inverted:hover 			{color: #3f51b5; border-color: #fff;}	
	&:hover:before 					{opacity: 1;background-color: #ffffff;}
	.button-inverted:hover:before 	{background-color: #fff;}
}

a.button,
.button-blue {
	background: 	$color-orange;
	color:			$color-white;
	
	&:hover {color: $color-white; background: $color-orange;}
}

p.button a,
form.account_form .submit,
p.button a:hover,
form.account_form .submit:hover,
form.main_form .goback,
form.main_form .goback:hover,
form.account_form .goback,
form.account_form .goback:hover,
form.main_form .submit,
a.apply_online {
	font-weight:		normal;
    display: inline-block;
    padding: 15px 2em;
    vertical-align: middle;
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 3px;

	border: 			none;
	color:				$color-white;
	background: rgba(246,128,38,1);
	background: -moz-linear-gradient(left, rgba(246,128,38,1) 0%, rgba(246,142,38,1) 54%, rgba(246,156,38,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,128,38,1)), color-stop(54%, rgba(246,142,38,1)), color-stop(100%, rgba(246,156,38,1)));
	background: -webkit-linear-gradient(left, rgba(246,128,38,1) 0%, rgba(246,142,38,1) 54%, rgba(246,156,38,1) 100%);
	background: -o-linear-gradient(left, rgba(246,128,38,1) 0%, rgba(246,142,38,1) 54%, rgba(246,156,38,1) 100%);
	background: -ms-linear-gradient(left, rgba(246,128,38,1) 0%, rgba(246,142,38,1) 54%, rgba(246,156,38,1) 100%);
	background: linear-gradient(to right, rgba(246,128,38,1) 0%, rgba(246,142,38,1) 54%, rgba(246,156,38,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f68026', endColorstr='#f69c26', GradientType=1 );
	
	&:hover {
		border: 		none;
		color:			$color-white;
		background: 	rgba(246,128,38,1);
		background: -moz-linear-gradient(left, rgba(246,128,38,1) 0%, rgba(246,142,38,1) 54%, rgba(246,156,38,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,128,38,1)), color-stop(54%, rgba(246,142,38,1)), color-stop(100%, rgba(246,156,38,1)));
		background: -webkit-linear-gradient(left, rgba(246,128,38,1) 0%, rgba(246,142,38,1) 54%, rgba(246,156,38,1) 100%);
		background: -o-linear-gradient(left, rgba(246,128,38,1) 0%, rgba(246,142,38,1) 54%, rgba(246,156,38,1) 100%);
		background: -ms-linear-gradient(left, rgba(246,128,38,1) 0%, rgba(246,142,38,1) 54%, rgba(246,156,38,1) 100%);
		background: linear-gradient(to right, rgba(246,128,38,1) 0%, rgba(246,142,38,1) 54%, rgba(246,156,38,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f68026', endColorstr='#f69c26', GradientType=1 );
	}
	span {
		font-size: 		15px;
		vertical-align: middle;
		margin:			0px;
		bottom: 		inherit;
		line-height:	normal;
	}
}

a.apply_online {
	max-width:			250px;
}

.button-white {
	border: 	1px solid $color-white;
	color:		$color-orange;
	background: $color-white;
	padding:	0.8em 1.5em;
	
	&:before {background: $color-white;}	
	&:hover {color: $color-orange; border-color: $color-white; background:$color-white;}
	
	.button-inverted:hover 			{color: #ffffff; border-color: $color-orange;}	
	&:hover:before 					{opacity: 1;background-color: $color-white;}
	.button-inverted:hover:before 	{background-color: $color-white;}
}

.button-full 		{width: 100%; display: block;}
.button-thin-border {border: 1px solid; }

.bg-grey 		{background: $color-lightgrey!important;}
.bg-blue 		{background: $color-blue!important;}
.bg-gradient-blue {
	background: rgba(2,156,203,1);
	background: -moz-linear-gradient(45deg, rgba(2,156,203,1) 0%, rgba(3,178,184,1) 45%, rgba(3,202,166,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(2,156,203,1)), color-stop(45%, rgba(3,178,184,1)), color-stop(100%, rgba(3,202,166,1)));
	background: -webkit-linear-gradient(45deg, rgba(2,156,203,1) 0%, rgba(3,178,184,1) 45%, rgba(3,202,166,1) 100%);
	background: -o-linear-gradient(45deg, rgba(2,156,203,1) 0%, rgba(3,178,184,1) 45%, rgba(3,202,166,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(2,156,203,1) 0%, rgba(3,178,184,1) 45%, rgba(3,202,166,1) 100%);
	background: linear-gradient(45deg, rgba(2,156,203,1) 0%, rgba(3,178,184,1) 45%, rgba(3,202,166,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#029ccb', endColorstr='#03caa6', GradientType=1 );
}

 
/* Page Load - Animation */

.animsition,
.animsition-overlay {
  position: relative;
  opacity: 0;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
		  overflow:hidden;
}

.animsition-overlay-slide {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #ddd;
}

.animsition-loading,
.animsition-loading:after {
  width: 32px;
  height: 32px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  border-radius: 50%;
  z-index: 100;
}

.animsition-loading {
  background-color: transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.2);
  border-right: 5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  border-left: 5px solid #eee;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-name: animsition-loading;
          animation-name: animsition-loading;
}

@-webkit-keyframes animsition-loading {
0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@keyframes animsition-loading {
0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@-webkit-keyframes fade-in {
0% {opacity: 0;}
100% {opacity: 1;}
}

@keyframes fade-in {
0% {opacity: 0;}
100% {opacity: 1;}
}


.fade-in {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
}


@-webkit-keyframes fade-out {
0% 		{opacity: 1;}
100% 	{opacity: 0;}
}


@keyframes fade-out {
0% 		{opacity: 1;}
100% 	{opacity: 0;}
}

.fade-out { -webkit-animation-name: fade-out;animation-name: fade-out;}


.color-primary 		{color: $color-primary!important; }
.color-blue 		{color: $color-blue!important; }
.color-white 		{color:	$color-white!important; }
.color-red 			{color: $color-red!important; }
.color-yellow 		{color: $color-yellow!important; }
.color-purple 		{color: $color-purple!important; }
.color-green 		{color: $color-green!important; }
.color-orange 		{color: $color-orange!important; }


.box-grey 			{border: solid 1px #d0d0d0;}
.box-grey:after 	{bottom: -4px; border-bottom: 3px solid #f2f2f2;}

/* Header */

#header { 
	top: 			0px; 
	left: 			0px;
	right: 			0px;
	padding: 		0px;
	background: 	$color-white;
	height: 		162px;
	position:		fixed;
	width:			100%;
	border:			0;
	box-shadow: 	0px -10px 50px rgba(0, 0, 0, 0.4);
	z-index:		10;
	-webkit-transition: 	$animated-normal;
	transition: 			$animated-normal;

	.top {
		background:		$color-primary;
		height:			40px;
		.container {
			.top-left-block, .top-right-block {
				ul {
					list-style:				none;
					margin:					0;
					padding:				0;
					li {
						list-style:			0;
						float:				left;
						margin-right:		20px;
						a {
							display:		block;
							font-size:		12px;
							color:			$color-white;
							line-height:	40px;
							transition:		$animated-normal;
							&:hover {
								color:		$color-orange;
							}
						}
					}
				}
			}
			.top-right-block {
				float:		right;
				ul {
					li {
						margin-right:	0px;
						margin-left:	20px;
					}
				}
			}
		}
	}
	
	.logonav {padding: 10px 0; margin: 0px; width: 100%;
		.container {

		}
	}
	.logo-link {display: block; float:left; margin-top: 8px;}
	.logo {
		background: url('../images/vma-logo.png') no-repeat center center;
		background-size: 100%;
	}
	
	.logo {
		width: 				303px;
		height: 			90px;
		background-size:	100%;
	}
}

#header {
	&.original {display: block; position: absolute;}
	&.cloned {display: none; position: fixed;}
}

.logged-in #header {
	top: 32px;
}

html.noscroll body header {}

.slide{
	-webkit-transition:all .25s ease-in-out;
	-moz-transition:all .25s ease-in-out;
	-o-transition:all .25s ease-in-out;
	transition:all .25s ease-in-out;
	
	&.slide--reset{
		-webkit-transform:translateY(0);
		-ms-transform:translateY(0);
		transform:translateY(0);
		box-shadow: 0px -10px 50px rgba(0, 0, 0, 0.4);
	}
	&.slide--up{
		-webkit-transform:translateY(-100%);
		-ms-transform:translateY(-100%);
		transform:translateY(-100%);
	}
	
	&.headroom--top {		
		-webkit-transition:all .25s ease-in-out;
		-moz-transition:all .25s ease-in-out;
		-o-transition:all .25s ease-in-out;
		transition:all .25s ease-in-out;
		
		-webkit-transform:translateY(-100%);
		-ms-transform:translateY(-100%);
		transform:translateY(-100%);
		background:		transparent;		
		box-shadow: 	none;
		position:		fixed;
		visibility: 	hidden;
		opacity:		0;
	}
}


.container		{max-width: 1090px!important; width: 100%;}

.container {
    max-width: 			1090px !important;
    width: 				100%;
    padding-left: 		15px;
    padding-right: 		15px;
    margin-right: 		auto;
    margin-left: 		auto;
}


.xmain-container, xdiv#content {
	margin-top: 		162px;
	position: 			relative; 

	@media (max-width: 768px) 	{
		margin-top: 		66px;
	}
}


.section-parallax, .main-container {
	margin-top: 		162px;
	position: 			relative; 

	@media (max-width: 768px) 	{
		margin-top: 		66px;
	}
}



html.noscroll body .main-container 	{opacity: 0.2;}

div#wrapper,
#searchform input.text {
	font-size:			15px;
}

div.section_content {
    border-top: none;
}


ul.display_section {
	li {
		padding:		0;

		a {
			padding:		10px;
			display:		block;
			font-size:		15px;
			font-weight:	normal;

		}
	}
}

span.description {
    font-size: 12px;
    font-style: italic;
    line-height: normal;
    display: block;
    margin-bottom: 20px;
}

 

form[name=registerform] .manage-password .wp-hide-pw {
	padding: 			10px;
    line-height: 		normal;
    height: 			inherit;
    min-width:			inherit;
    overflow:			hidden;

	span{
	    font-size: 			14px;
	    margin:				0;
	    line-height:		16px;
	    display:			block;
	    max-height:			16px;
	    float:				left;
	    bottom:				inherit;
	}
}

form.main_form select,
form.main_form input.text,
form.main_form textarea,
form.main_form.contact_form textarea,
form.account_form input.text {
	background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    box-shadow: none;
    color: #98999a;
    font-size: 16px;
    height: inherit;
    line-height: normal;
    padding: 15px 20px;
    -webkit-appearance: none;
    width: 100%;
    float: none;
    max-width: 550px;
}

form.main_form input.text:focus,
form.main_form textarea:focus,
form.main_form.contact_form textarea:focus,
form.account_form input.text:focus {
	background: #fff;
}

form.main_form select{
	background: #fff url(../images/select-icon.png) center right no-repeat;
    background-size: 32px 5px;
}

form.main_form p label {
    width: 100%;
    float: none;
    padding-top: 6px;
}


div.date,
ol.jobs dd,
ol.jobs dd strong,
div.date strong,
td.date strong {	
	font-family: 			$open-sans;
}

ol.resumes dd,
ol.resumes dd strong,
#content div.resume_header dt,
#content div.resume_header dl,
#content div.resume_header p.meta,
#content h2.resume_section_heading {	
	font-family: 			$open-sans;
	font-style:				normal;
}

ol.resumes dd strong {font-size: 16px;}
#content h2.resume_section_heading {font-size: 15px; line-height: normal;}

#content div.resume_section {	
	line-height: normal;
	p {
		line-height: normal;
	}
}

ol.resumes li.resume {padding:10px;}



div#content {
	width:				100%;
	background:			$color-lightgrey;
	.inner {
		margin-top:		0;
		width:			100%;
		max-width:		1090px;
		padding:		0 15px;
		background:		$color-lightgrey;

		#sidebar,
		#mainContent 	{
			float:				left;
			padding-left:		15px;
			padding-right:		15px;
			padding-top:		40px;
			margin:				0!important;
		}

		#mainContent {
			width:				66.67%;

			#searchform {
				width:			100%;
			}
		}

		#sidebar {
			width:					33.33%;

			.widgets {
				width:				100%;
				padding:			25px;
				margin-bottom:		20px;
				background:			$color-white;

				.widget {

					width:			100%;

					&.widget-submit {
						width:			100%;

						div {
							width:			100%;
							padding:		0!important;
							background:		transparent;

							a.button {
								font-weight:		normal;
								width:				100%;
								border: 	none;
								color:		$color-white;
								background: rgba(246,128,38,1);
								background: -moz-linear-gradient(left, rgba(246,128,38,1) 0%, rgba(246,142,38,1) 54%, rgba(246,156,38,1) 100%);
								background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,128,38,1)), color-stop(54%, rgba(246,142,38,1)), color-stop(100%, rgba(246,156,38,1)));
								background: -webkit-linear-gradient(left, rgba(246,128,38,1) 0%, rgba(246,142,38,1) 54%, rgba(246,156,38,1) 100%);
								background: -o-linear-gradient(left, rgba(246,128,38,1) 0%, rgba(246,142,38,1) 54%, rgba(246,156,38,1) 100%);
								background: -ms-linear-gradient(left, rgba(246,128,38,1) 0%, rgba(246,142,38,1) 54%, rgba(246,156,38,1) 100%);
								background: linear-gradient(to right, rgba(246,128,38,1) 0%, rgba(246,142,38,1) 54%, rgba(246,156,38,1) 100%);
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f68026', endColorstr='#f69c26', GradientType=1 );
								
								&:hover {
									border: 	none;
									color:		$color-white;
									background: rgba(246,128,38,1);
									background: -moz-linear-gradient(left, rgba(246,128,38,1) 0%, rgba(246,142,38,1) 54%, rgba(246,156,38,1) 100%);
									background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,128,38,1)), color-stop(54%, rgba(246,142,38,1)), color-stop(100%, rgba(246,156,38,1)));
									background: -webkit-linear-gradient(left, rgba(246,128,38,1) 0%, rgba(246,142,38,1) 54%, rgba(246,156,38,1) 100%);
									background: -o-linear-gradient(left, rgba(246,128,38,1) 0%, rgba(246,142,38,1) 54%, rgba(246,156,38,1) 100%);
									background: -ms-linear-gradient(left, rgba(246,128,38,1) 0%, rgba(246,142,38,1) 54%, rgba(246,156,38,1) 100%);
									background: linear-gradient(to right, rgba(246,128,38,1) 0%, rgba(246,142,38,1) 54%, rgba(246,156,38,1) 100%);
									filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f68026', endColorstr='#f69c26', GradientType=1 );
								}
								span {
									font-size: 		15px;
									vertical-align: middle;
									margin:			0px;
									bottom: 		inherit;
									line-height:	normal;
								}
							}
						}
					}

					&.widget-nav {
						.tabbed_section {

							.contents {
								ul {
									li {
										a {
											border-bottom: 	1px solid #ddd;
										    padding: 		0.5em 1em;
										    display: 		block;
										    color: 			#666;
										    background-position: 	95% center;
										}
									}
								}
							}
						}
					}
				}
				
			}
		}


		@media (max-width: 768px) {
			#sidebar,
			#mainContent {
				width:			100%; 
			} 

		}
	}
}

#searchform {
	div {
		div {
			height: inherit;

			label {
				position:		absolute;
				right:			0;
			}
		}

		&.search-wrap {
			background:			#ddd;
			div {
				width: 			100%;
				float: 			none;
				position:		relative;
				overflow:		hidden;

				&.radius {
					width:		auto;
					label {position: relative;}
				}
			}
		}
	}

	button.submit {

	}

	input#near,
	input#search {
		width:	50%!important;
	}
}

form.filter {background:#e0e0e0;font-size: 14px;}
form.filter input {margin:0;}
form.filter p {font-size: 14px; margin-right: 12px;}

form.filter input[type=submit],
form.filter input[type=submit]:hover {
	background: 	$color-orange;
	color: 			$color-white;
}

ol.jobs li {
	background:		$color-white!important;

	&.job-expired {
		background:		$color-white!important;
	}


	@media (max-width: 768px) {
		padding:		12px!important;
	}
}

// NAVIGATION 

.navbar-default							{border: none; background: transparent;}
.navbar .navbar-nav li.homepage-link 	{display: none;}
.navbar {
    border: 			none;
    margin-bottom: 		0px;
    min-height: 		inherit;
    position: 			relative;
	border-radius:none;
		
	.navbar-nav {
		float: 			right;
		margin-top:		4px;
		
		li {
			position:			relative;
			margin-left: 		25px;
			&:last-child > a 	{xpadding: 7px 0px 7px 12px;}
			
			a {
				border:				none;
				padding:			0px;
				margin:				0;
				font-size:			15px;
				color:				$color-primary;
				-webkit-transition: $animated-normal;
				transition: 		$animated-normal;
				line-height:		98px;
				
				&:before {
					display:		block;
					content:		"";
					position:		absolute;
					width:			100%;
					height:			2px;
					background:		transparent;
					bottom:			18px;					
					-webkit-transition: $animated-normal;
					transition: 		$animated-normal;
				}
				
				&:hover:before {
					background:		$color-orange;
				}
			}
			
			&:first-child {margin-left:0}
			
		}
		
		.active {
			a {
				padding: 7px 0px 7px 12px;
				
				&:hover,
				&:focus {
					background:		transparent;
					color: 			#1abc9c;
				}
			}
		}
		
		.menu-item-has-children {
			a {background: url(../images/sub-menu-icon.png) right 47px no-repeat; padding-right:20px;}
			
			ul.sub-menu {
				list-style:			none;
				margin:				0;
				padding:			10px 0 0 0;
				position:			absolute;
				width:				100%;
				min-width:			260px;
				xdisplay:			none;
				z-index:			3;
				
				li {
					@extend .sub-menu;
					padding:		0;
					margin:			0;
					position:		relative;
					
					a {
						display:		block;
						color:			$color-primary;
						background:		$color-white;
						line-height:	normal;
						padding:		15px 25px;
						border-top:		1px solid #eeeeee;
						
						&:before {display:		none;}
						
						&:hover,
						&:focus {
							background:		$color-orange;
							color:			$color-white;
						}
					}
				}
			}
			
			&:hover,
			&:focus {			
				.sub-menu {
					xdisplay:			block;
				}
			}			
			
		}
	}


	@media (max-width: 1100px) 	{
		.navbar-nav {			
			li {
				margin-left: 			20px;
				a {
					font-size:			14px;
				}
			}
		}
	}


	@media screen and (max-width: 990px) and (min-width: 768px) {

		.navbar-nav {			
			li {
				margin-left: 			8px;
				a {
					font-size:			12px;
				}
			}
		}

	}

}

/* Mobile nav */

.scroller {overflow-y: scroll; background: #ffffff;}

.navbar-default {
	.navbar-collapse {
		border: 		none;
		box-shadow: 	none;
		float:			right;
	}
	.navbar-form {border: none;}
	
	.navbar-toggle {
		border-radius:		0px;		
		background: 		transparent!important;
		border: 			none;
		border-radius: 		0px;
		float: 				right;
		margin:				19px 18px 19px 18px;
		padding: 			0px;
		position: 			relative;
		
		.icon-bar {background-color: #505050; border-radius: 1px; display: block; width:26px; height:2px;transition:$animated-normal;}
		.icon-bar + .icon-bar {margin-top: 7px;}
		
		&:hover,&:focus		{background: transparent;
			.icon-bar 		{background-color: #505050;}
		}
	}
	
	.top-close-block {
		padding: 13px 6px;
		position:	relative;
		.search {
			float: left;
			margin: 12px 0 0 15px;
			a {
				color: #2f3234;
				display: block;
				width:	21px;
				height:	21px;
				overflow:hidden;
				text-indent: 9999px;
				background: url(../images/search-icon.png) center center no-repeat;	
				background-size: 21px;		
			}
		}
		button {
			float:			right;
			border:			0;
			padding:		10px;
			box-shadow:		none;
			background:		transparent;
			.icon-bar {
				background-color: #505050;
				border-radius: 1px; display: block;
				width:28px; height:3px;
				transition:$animated-normal;
				
				&.top-bar {
					transform:				rotate(45deg);
					-webkit-transform: 		rotate(45deg);
					
					-webkit-transform-origin:		left 6px;
					transform-origin:				left 6px;
				}
				
				&.bottom-bar {
					transform: 						rotate(-45deg);	
					-webkit-transform: 				rotate(-45deg);
					transform-origin: 				left -3px;
					-webkit-transform-origin: 		left -3px;
				}
			
			}
			.icon-bar + .icon-bar {margin-top: 19px;}
			
		}
	}
}

.bg-cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
}



/* ////////// */
/*   FOOTER   */
/* ////////// */

.footer {
	position:				relative;
	bottom:					0;
	left:					0;
	right:					0;
	width:					100%;
	z-index:				0;
	font-size:				14px;
	background:				#232323;
	color:					$color-grey;
	overflow:				hidden;

	.section-footer {
		padding:			75px 0 0px 0;
		width:				100%;
		text-align:			left;
		margin:				0;

		.container {
			margin: 		0 auto;

			.column {
				text-align:				left;
				h2 {
					font-size:			14px;
					color: 				$color-white;
					text-transform:		uppercase;
					font-weight:		bold;
				}

				ul {
					list-style:				none;
					margin:					0;
					padding:				0;
					line-height:			30px;

					li {
						margin-bottom:		12px;
					}
				}
				
				li {				
					list-style:				none;
					margin:					0;
					padding:				0;
					line-height:			normal;
					border:					none;
					background:				none;
					
					a {
						color:					$color-grey;
						font-size:				15px;
						-webkit-transition: 	all 0.2s;
						transition: 			all 0.2s;
						font-size:				14px;
						font-weight:			$bold;
						
						&:hover,
						&:focus{
							color:					$color-white;
						}
					}
				}
								
			}
			
			p {font-size:	14px;}

			
					
			.contact-info{
				font-weight:			$bold;
				margin-bottom:			70px;
				
				.footer-logo 			{
					margin-bottom: 20px;
					img {max-width: 218px}
				}
				
				p						{margin-bottom: 10px; line-height: 24px;}
				
				.contact-number {
					border-left:		2px solid #343739;
					padding-left:		25px;
					a {
						color:	$color-grey;
						transition:	$animated-normal;
						&:hover,
						&:focus {
							color:	$color-white;
						}
					}
					p {margin-bottom: 0px;}
				}
								
			}
						
			.social-icons {
				clear:					both;
				overflow:				hidden;
				
				a{
					color: 					#909090;
					cursor: 				pointer;
					float: 					left;
					font-size: 				17px;
					line-height: 			18px;
					padding: 				0;
					margin-right: 			10px;
					text-align: 			center;
					text-decoration: 		none;
					width: 					18px;
					height: 				18px;
					-webkit-transition: 	$animated-normal;
					transition:				$animated-normal;
					
					&:hover,
					&:focus {color: #fff; }	
				}
			}					
			
			.copyright {
				color:					$color-grey;
				margin-top:				30px;
				padding:				30px 0;
				font-size: 				12px;
				border-top:				1px solid #363a3c;		
					a {
						color:					$color-grey;
						transition:				$animated-normal;
						-webkit-transition:		$animated-normal;
						&:hover {color:#fff;}
					}
			}
						
		}
	}


	@media (max-width: 768px) {
		position:				relative;

		.section-footer {
			padding:			50px 0 0px 0;

			.container {
				.col-sm-3 		{margin-bottom: 60px; padding-right: 0;}
				.col-xs-12 		{xpadding: 0;}

				.column {
					ul {
						line-height:			normal;
					}			
				}

				.contact-info{
					margin-bottom:			20px;
					
					.footer-logo 			{margin-bottom: 20px;}
					p						{margin-bottom: 10px; line-height: 24px;}
					
					.contact-number {
						border-left:		none;
						padding-left:		0px;
						margin-bottom:		20px;
					}
									
				}
							
			}
		}

	}

}


@font-face{font-family:'FontAwesome';src:url(../fonts/fontawesome-webfont.eot?v=4.2.0);src:url(../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0) format("embedded-opentype"),url(../fonts/fontawesome-webfont.woff?v=4.2.0) format("woff"),url(../fonts/fontawesome-webfont.ttf?v=4.2.0) format("truetype"),url(../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular) format("svg");font-weight:400;font-style:normal}

.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.28571429em;text-align:center}.fa-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}.fa-ul > li{position:relative}.fa-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:.14285714em;text-align:center}.fa-li.fa-lg{left:-1.85714286em}.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}.fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.fa-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0,mirror=1);-webkit-transform:scale(-1,1);-ms-transform:scale(-1,1);transform:scale(-1,1)}.fa-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2,mirror=1);-webkit-transform:scale(1,-1);-ms-transform:scale(1,-1);transform:scale(1,-1)}:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-flip-horizontal,:root .fa-flip-vertical{filter:none}.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}.fa-inverse{color:#fff}.fa-glass:before{content:"\f000"}.fa-music:before{content:"\f001"}.fa-search:before{content:"\f002"}.fa-envelope-o:before{content:"\f003"}.fa-heart:before{content:"\f004"}.fa-star:before{content:"\f005"}.fa-star-o:before{content:"\f006"}.fa-user:before{content:"\f007"}.fa-film:before{content:"\f008"}.fa-th-large:before{content:"\f009"}.fa-th:before{content:"\f00a"}.fa-th-list:before{content:"\f00b"}.fa-check:before{content:"\f00c"}.fa-remove:before,.fa-close:before,.fa-times:before{content:"\f00d"}.fa-search-plus:before{content:"\f00e"}.fa-search-minus:before{content:"\f010"}.fa-power-off:before{content:"\f011"}.fa-signal:before{content:"\f012"}.fa-gear:before,.fa-cog:before{content:"\f013"}.fa-trash-o:before{content:"\f014"}.fa-home:before{content:"\f015"}.fa-file-o:before{content:"\f016"}.fa-clock-o:before{content:"\f017"}.fa-road:before{content:"\f018"}.fa-download:before{content:"\f019"}.fa-arrow-circle-o-down:before{content:"\f01a"}.fa-arrow-circle-o-up:before{content:"\f01b"}.fa-inbox:before{content:"\f01c"}.fa-play-circle-o:before{content:"\f01d"}.fa-rotate-right:before,.fa-repeat:before{content:"\f01e"}.fa-refresh:before{content:"\f021"}.fa-list-alt:before{content:"\f022"}.fa-lock:before{content:"\f023"}.fa-flag:before{content:"\f024"}.fa-headphones:before{content:"\f025"}.fa-volume-off:before{content:"\f026"}.fa-volume-down:before{content:"\f027"}.fa-volume-up:before{content:"\f028"}.fa-qrcode:before{content:"\f029"}.fa-barcode:before{content:"\f02a"}.fa-tag:before{content:"\f02b"}.fa-tags:before{content:"\f02c"}.fa-book:before{content:"\f02d"}.fa-bookmark:before{content:"\f02e"}.fa-print:before{content:"\f02f"}.fa-camera:before{content:"\f030"}.fa-font:before{content:"\f031"}.fa-bold:before{content:"\f032"}.fa-italic:before{content:"\f033"}.fa-text-height:before{content:"\f034"}.fa-text-width:before{content:"\f035"}.fa-align-left:before{content:"\f036"}.fa-align-center:before{content:"\f037"}.fa-align-right:before{content:"\f038"}.fa-align-justify:before{content:"\f039"}.fa-list:before{content:"\f03a"}.fa-dedent:before,.fa-outdent:before{content:"\f03b"}.fa-indent:before{content:"\f03c"}.fa-video-camera:before{content:"\f03d"}.fa-photo:before,.fa-image:before,.fa-picture-o:before{content:"\f03e"}.fa-pencil:before{content:"\f040"}.fa-map-marker:before{content:"\f041"}.fa-adjust:before{content:"\f042"}.fa-tint:before{content:"\f043"}.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}.fa-share-square-o:before{content:"\f045"}.fa-check-square-o:before{content:"\f046"}.fa-arrows:before{content:"\f047"}.fa-step-backward:before{content:"\f048"}.fa-fast-backward:before{content:"\f049"}.fa-backward:before{content:"\f04a"}.fa-play:before{content:"\f04b"}.fa-pause:before{content:"\f04c"}.fa-stop:before{content:"\f04d"}.fa-forward:before{content:"\f04e"}.fa-fast-forward:before{content:"\f050"}.fa-step-forward:before{content:"\f051"}.fa-eject:before{content:"\f052"}.fa-chevron-left:before{content:"\f053"}.fa-chevron-right:before{content:"\f054"}.fa-plus-circle:before{content:"\f055"}.fa-minus-circle:before{content:"\f056"}.fa-times-circle:before{content:"\f057"}.fa-check-circle:before{content:"\f058"}.fa-question-circle:before{content:"\f059"}.fa-info-circle:before{content:"\f05a"}.fa-crosshairs:before{content:"\f05b"}.fa-times-circle-o:before{content:"\f05c"}.fa-check-circle-o:before{content:"\f05d"}.fa-ban:before{content:"\f05e"}.fa-arrow-left:before{content:"\f060"}.fa-arrow-right:before{content:"\f061"}.fa-arrow-up:before{content:"\f062"}.fa-arrow-down:before{content:"\f063"}.fa-mail-forward:before,.fa-share:before{content:"\f064"}.fa-expand:before{content:"\f065"}.fa-compress:before{content:"\f066"}.fa-plus:before{content:"\f067"}.fa-minus:before{content:"\f068"}.fa-asterisk:before{content:"\f069"}.fa-exclamation-circle:before{content:"\f06a"}.fa-gift:before{content:"\f06b"}.fa-leaf:before{content:"\f06c"}.fa-fire:before{content:"\f06d"}.fa-eye:before{content:"\f06e"}.fa-eye-slash:before{content:"\f070"}.fa-warning:before,.fa-exclamation-triangle:before{content:"\f071"}.fa-plane:before{content:"\f072"}.fa-calendar:before{content:"\f073"}.fa-random:before{content:"\f074"}.fa-comment:before{content:"\f075"}.fa-magnet:before{content:"\f076"}.fa-chevron-up:before{content:"\f077"}.fa-chevron-down:before{content:"\f078"}.fa-retweet:before{content:"\f079"}.fa-shopping-cart:before{content:"\f07a"}.fa-folder:before{content:"\f07b"}.fa-folder-open:before{content:"\f07c"}.fa-arrows-v:before{content:"\f07d"}.fa-arrows-h:before{content:"\f07e"}.fa-bar-chart-o:before,.fa-bar-chart:before{content:"\f080"}.fa-twitter-square:before{content:"\f081"}.fa-facebook-square:before{content:"\f082"}.fa-camera-retro:before{content:"\f083"}.fa-key:before{content:"\f084"}.fa-gears:before,.fa-cogs:before{content:"\f085"}.fa-comments:before{content:"\f086"}.fa-thumbs-o-up:before{content:"\f087"}.fa-thumbs-o-down:before{content:"\f088"}.fa-star-half:before{content:"\f089"}.fa-heart-o:before{content:"\f08a"}.fa-sign-out:before{content:"\f08b"}.fa-linkedin-square:before{content:"\f08c"}.fa-thumb-tack:before{content:"\f08d"}.fa-external-link:before{content:"\f08e"}.fa-sign-in:before{content:"\f090"}.fa-trophy:before{content:"\f091"}.fa-github-square:before{content:"\f092"}.fa-upload:before{content:"\f093"}.fa-lemon-o:before{content:"\f094"}.fa-phone:before{content:"\f095"}.fa-square-o:before{content:"\f096"}.fa-bookmark-o:before{content:"\f097"}.fa-phone-square:before{content:"\f098"}.fa-twitter:before{content:"\f099"}.fa-facebook:before{content:"\f09a"}.fa-github:before{content:"\f09b"}.fa-unlock:before{content:"\f09c"}.fa-credit-card:before{content:"\f09d"}.fa-rss:before{content:"\f09e"}.fa-hdd-o:before{content:"\f0a0"}.fa-bullhorn:before{content:"\f0a1"}.fa-bell:before{content:"\f0f3"}.fa-certificate:before{content:"\f0a3"}.fa-hand-o-right:before{content:"\f0a4"}.fa-hand-o-left:before{content:"\f0a5"}.fa-hand-o-up:before{content:"\f0a6"}.fa-hand-o-down:before{content:"\f0a7"}.fa-arrow-circle-left:before{content:"\f0a8"}.fa-arrow-circle-right:before{content:"\f0a9"}.fa-arrow-circle-up:before{content:"\f0aa"}.fa-arrow-circle-down:before{content:"\f0ab"}.fa-globe:before{content:"\f0ac"}.fa-wrench:before{content:"\f0ad"}.fa-tasks:before{content:"\f0ae"}.fa-filter:before{content:"\f0b0"}.fa-briefcase:before{content:"\f0b1"}.fa-arrows-alt:before{content:"\f0b2"}.fa-group:before,.fa-users:before{content:"\f0c0"}.fa-chain:before,.fa-link:before{content:"\f0c1"}.fa-cloud:before{content:"\f0c2"}.fa-flask:before{content:"\f0c3"}.fa-cut:before,.fa-scissors:before{content:"\f0c4"}.fa-copy:before,.fa-files-o:before{content:"\f0c5"}.fa-paperclip:before{content:"\f0c6"}.fa-save:before,.fa-floppy-o:before{content:"\f0c7"}.fa-square:before{content:"\f0c8"}.fa-navicon:before,.fa-reorder:before,.fa-bars:before{content:"\f0c9"}.fa-list-ul:before{content:"\f0ca"}.fa-list-ol:before{content:"\f0cb"}.fa-strikethrough:before{content:"\f0cc"}.fa-underline:before{content:"\f0cd"}.fa-table:before{content:"\f0ce"}.fa-magic:before{content:"\f0d0"}.fa-truck:before{content:"\f0d1"}.fa-pinterest:before{content:"\f0d2"}.fa-pinterest-square:before{content:"\f0d3"}.fa-google-plus-square:before{content:"\f0d4"}.fa-google-plus:before{content:"\f0d5"}.fa-money:before{content:"\f0d6"}.fa-caret-down:before{content:"\f0d7"}.fa-caret-up:before{content:"\f0d8"}.fa-caret-left:before{content:"\f0d9"}.fa-caret-right:before{content:"\f0da"}.fa-columns:before{content:"\f0db"}.fa-unsorted:before,.fa-sort:before{content:"\f0dc"}.fa-sort-down:before,.fa-sort-desc:before{content:"\f0dd"}.fa-sort-up:before,.fa-sort-asc:before{content:"\f0de"}.fa-envelope:before{content:"\f0e0"}.fa-linkedin:before{content:"\f0e1"}.fa-rotate-left:before,.fa-undo:before{content:"\f0e2"}.fa-legal:before,.fa-gavel:before{content:"\f0e3"}.fa-dashboard:before,.fa-tachometer:before{content:"\f0e4"}.fa-comment-o:before{content:"\f0e5"}.fa-comments-o:before{content:"\f0e6"}.fa-flash:before,.fa-bolt:before{content:"\f0e7"}.fa-sitemap:before{content:"\f0e8"}.fa-umbrella:before{content:"\f0e9"}.fa-paste:before,.fa-clipboard:before{content:"\f0ea"}.fa-lightbulb-o:before{content:"\f0eb"}.fa-exchange:before{content:"\f0ec"}.fa-cloud-download:before{content:"\f0ed"}.fa-cloud-upload:before{content:"\f0ee"}.fa-user-md:before{content:"\f0f0"}.fa-stethoscope:before{content:"\f0f1"}.fa-suitcase:before{content:"\f0f2"}.fa-bell-o:before{content:"\f0a2"}.fa-coffee:before{content:"\f0f4"}.fa-cutlery:before{content:"\f0f5"}.fa-file-text-o:before{content:"\f0f6"}.fa-building-o:before{content:"\f0f7"}.fa-hospital-o:before{content:"\f0f8"}.fa-ambulance:before{content:"\f0f9"}.fa-medkit:before{content:"\f0fa"}.fa-fighter-jet:before{content:"\f0fb"}.fa-beer:before{content:"\f0fc"}.fa-h-square:before{content:"\f0fd"}.fa-plus-square:before{content:"\f0fe"}.fa-angle-double-left:before{content:"\f100"}.fa-angle-double-right:before{content:"\f101"}.fa-angle-double-up:before{content:"\f102"}.fa-angle-double-down:before{content:"\f103"}.fa-angle-left:before{content:"\f104"}.fa-angle-right:before{content:"\f105"}.fa-angle-up:before{content:"\f106"}.fa-angle-down:before{content:"\f107"}.fa-desktop:before{content:"\f108"}.fa-laptop:before{content:"\f109"}.fa-tablet:before{content:"\f10a"}.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}.fa-circle-o:before{content:"\f10c"}.fa-quote-left:before{content:"\f10d"}.fa-quote-right:before{content:"\f10e"}.fa-spinner:before{content:"\f110"}.fa-circle:before{content:"\f111"}.fa-mail-reply:before,.fa-reply:before{content:"\f112"}.fa-github-alt:before{content:"\f113"}.fa-folder-o:before{content:"\f114"}.fa-folder-open-o:before{content:"\f115"}.fa-smile-o:before{content:"\f118"}.fa-frown-o:before{content:"\f119"}.fa-meh-o:before{content:"\f11a"}.fa-gamepad:before{content:"\f11b"}.fa-keyboard-o:before{content:"\f11c"}.fa-flag-o:before{content:"\f11d"}.fa-flag-checkered:before{content:"\f11e"}.fa-terminal:before{content:"\f120"}.fa-code:before{content:"\f121"}.fa-mail-reply-all:before,.fa-reply-all:before{content:"\f122"}.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:"\f123"}.fa-location-arrow:before{content:"\f124"}.fa-crop:before{content:"\f125"}.fa-code-fork:before{content:"\f126"}.fa-unlink:before,.fa-chain-broken:before{content:"\f127"}.fa-question:before{content:"\f128"}.fa-info:before{content:"\f129"}.fa-exclamation:before{content:"\f12a"}.fa-superscript:before{content:"\f12b"}.fa-subscript:before{content:"\f12c"}.fa-eraser:before{content:"\f12d"}.fa-puzzle-piece:before{content:"\f12e"}.fa-microphone:before{content:"\f130"}.fa-microphone-slash:before{content:"\f131"}.fa-shield:before{content:"\f132"}.fa-calendar-o:before{content:"\f133"}.fa-fire-extinguisher:before{content:"\f134"}.fa-rocket:before{content:"\f135"}.fa-maxcdn:before{content:"\f136"}.fa-chevron-circle-left:before{content:"\f137"}.fa-chevron-circle-right:before{content:"\f138"}.fa-chevron-circle-up:before{content:"\f139"}.fa-chevron-circle-down:before{content:"\f13a"}.fa-html5:before{content:"\f13b"}.fa-css3:before{content:"\f13c"}.fa-anchor:before{content:"\f13d"}.fa-unlock-alt:before{content:"\f13e"}.fa-bullseye:before{content:"\f140"}.fa-ellipsis-h:before{content:"\f141"}.fa-ellipsis-v:before{content:"\f142"}.fa-rss-square:before{content:"\f143"}.fa-play-circle:before{content:"\f144"}.fa-ticket:before{content:"\f145"}.fa-minus-square:before{content:"\f146"}.fa-minus-square-o:before{content:"\f147"}.fa-level-up:before{content:"\f148"}.fa-level-down:before{content:"\f149"}.fa-check-square:before{content:"\f14a"}.fa-pencil-square:before{content:"\f14b"}.fa-external-link-square:before{content:"\f14c"}.fa-share-square:before{content:"\f14d"}.fa-compass:before{content:"\f14e"}.fa-toggle-down:before,.fa-caret-square-o-down:before{content:"\f150"}.fa-toggle-up:before,.fa-caret-square-o-up:before{content:"\f151"}.fa-toggle-right:before,.fa-caret-square-o-right:before{content:"\f152"}.fa-euro:before,.fa-eur:before{content:"\f153"}.fa-gbp:before{content:"\f154"}.fa-dollar:before,.fa-usd:before{content:"\f155"}.fa-rupee:before,.fa-inr:before{content:"\f156"}.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{content:"\f157"}.fa-ruble:before,.fa-rouble:before,.fa-rub:before{content:"\f158"}.fa-won:before,.fa-krw:before{content:"\f159"}.fa-bitcoin:before,.fa-btc:before{content:"\f15a"}.fa-file:before{content:"\f15b"}.fa-file-text:before{content:"\f15c"}.fa-sort-alpha-asc:before{content:"\f15d"}.fa-sort-alpha-desc:before{content:"\f15e"}.fa-sort-amount-asc:before{content:"\f160"}.fa-sort-amount-desc:before{content:"\f161"}.fa-sort-numeric-asc:before{content:"\f162"}.fa-sort-numeric-desc:before{content:"\f163"}.fa-thumbs-up:before{content:"\f164"}.fa-thumbs-down:before{content:"\f165"}.fa-youtube-square:before{content:"\f166"}.fa-youtube:before{content:"\f167"}.fa-xing:before{content:"\f168"}.fa-xing-square:before{content:"\f169"}.fa-youtube-play:before{content:"\f16a"}.fa-dropbox:before{content:"\f16b"}.fa-stack-overflow:before{content:"\f16c"}.fa-instagram:before{content:"\f16d"}.fa-flickr:before{content:"\f16e"}.fa-adn:before{content:"\f170"}.fa-bitbucket:before{content:"\f171"}.fa-bitbucket-square:before{content:"\f172"}.fa-tumblr:before{content:"\f173"}.fa-tumblr-square:before{content:"\f174"}.fa-long-arrow-down:before{content:"\f175"}.fa-long-arrow-up:before{content:"\f176"}.fa-long-arrow-left:before{content:"\f177"}.fa-long-arrow-right:before{content:"\f178"}.fa-apple:before{content:"\f179"}.fa-windows:before{content:"\f17a"}.fa-android:before{content:"\f17b"}.fa-linux:before{content:"\f17c"}.fa-dribbble:before{content:"\f17d"}.fa-skype:before{content:"\f17e"}.fa-foursquare:before{content:"\f180"}.fa-trello:before{content:"\f181"}.fa-female:before{content:"\f182"}.fa-male:before{content:"\f183"}.fa-gittip:before{content:"\f184"}.fa-sun-o:before{content:"\f185"}.fa-moon-o:before{content:"\f186"}.fa-archive:before{content:"\f187"}.fa-bug:before{content:"\f188"}.fa-vk:before{content:"\f189"}.fa-weibo:before{content:"\f18a"}.fa-renren:before{content:"\f18b"}.fa-pagelines:before{content:"\f18c"}.fa-stack-exchange:before{content:"\f18d"}.fa-arrow-circle-o-right:before{content:"\f18e"}.fa-arrow-circle-o-left:before{content:"\f190"}.fa-toggle-left:before,.fa-caret-square-o-left:before{content:"\f191"}.fa-dot-circle-o:before{content:"\f192"}.fa-wheelchair:before{content:"\f193"}.fa-vimeo-square:before{content:"\f194"}.fa-turkish-lira:before,.fa-try:before{content:"\f195"}.fa-plus-square-o:before{content:"\f196"}.fa-space-shuttle:before{content:"\f197"}.fa-slack:before{content:"\f198"}.fa-envelope-square:before{content:"\f199"}.fa-wordpress:before{content:"\f19a"}.fa-openid:before{content:"\f19b"}.fa-institution:before,.fa-bank:before,.fa-university:before{content:"\f19c"}.fa-mortar-board:before,.fa-graduation-cap:before{content:"\f19d"}.fa-yahoo:before{content:"\f19e"}.fa-google:before{content:"\f1a0"}.fa-reddit:before{content:"\f1a1"}.fa-reddit-square:before{content:"\f1a2"}.fa-stumbleupon-circle:before{content:"\f1a3"}.fa-stumbleupon:before{content:"\f1a4"}.fa-delicious:before{content:"\f1a5"}.fa-digg:before{content:"\f1a6"}.fa-pied-piper:before{content:"\f1a7"}.fa-pied-piper-alt:before{content:"\f1a8"}.fa-drupal:before{content:"\f1a9"}.fa-joomla:before{content:"\f1aa"}.fa-language:before{content:"\f1ab"}.fa-fax:before{content:"\f1ac"}.fa-building:before{content:"\f1ad"}.fa-child:before{content:"\f1ae"}.fa-paw:before{content:"\f1b0"}.fa-spoon:before{content:"\f1b1"}.fa-cube:before{content:"\f1b2"}.fa-cubes:before{content:"\f1b3"}.fa-behance:before{content:"\f1b4"}.fa-behance-square:before{content:"\f1b5"}.fa-steam:before{content:"\f1b6"}.fa-steam-square:before{content:"\f1b7"}.fa-recycle:before{content:"\f1b8"}.fa-automobile:before,.fa-car:before{content:"\f1b9"}.fa-cab:before,.fa-taxi:before{content:"\f1ba"}.fa-tree:before{content:"\f1bb"}.fa-spotify:before{content:"\f1bc"}.fa-deviantart:before{content:"\f1bd"}.fa-soundcloud:before{content:"\f1be"}.fa-database:before{content:"\f1c0"}.fa-file-pdf-o:before{content:"\f1c1"}.fa-file-word-o:before{content:"\f1c2"}.fa-file-excel-o:before{content:"\f1c3"}.fa-file-powerpoint-o:before{content:"\f1c4"}.fa-file-photo-o:before,.fa-file-picture-o:before,.fa-file-image-o:before{content:"\f1c5"}.fa-file-zip-o:before,.fa-file-archive-o:before{content:"\f1c6"}.fa-file-sound-o:before,.fa-file-audio-o:before{content:"\f1c7"}.fa-file-movie-o:before,.fa-file-video-o:before{content:"\f1c8"}.fa-file-code-o:before{content:"\f1c9"}.fa-vine:before{content:"\f1ca"}.fa-codepen:before{content:"\f1cb"}.fa-jsfiddle:before{content:"\f1cc"}.fa-life-bouy:before,.fa-life-buoy:before,.fa-life-saver:before,.fa-support:before,.fa-life-ring:before{content:"\f1cd"}.fa-circle-o-notch:before{content:"\f1ce"}.fa-ra:before,.fa-rebel:before{content:"\f1d0"}.fa-ge:before,.fa-empire:before{content:"\f1d1"}.fa-git-square:before{content:"\f1d2"}.fa-git:before{content:"\f1d3"}.fa-hacker-news:before{content:"\f1d4"}.fa-tencent-weibo:before{content:"\f1d5"}.fa-qq:before{content:"\f1d6"}.fa-wechat:before,.fa-weixin:before{content:"\f1d7"}.fa-send:before,.fa-paper-plane:before{content:"\f1d8"}.fa-send-o:before,.fa-paper-plane-o:before{content:"\f1d9"}.fa-history:before{content:"\f1da"}.fa-circle-thin:before{content:"\f1db"}.fa-header:before{content:"\f1dc"}.fa-paragraph:before{content:"\f1dd"}.fa-sliders:before{content:"\f1de"}.fa-share-alt:before{content:"\f1e0"}.fa-share-alt-square:before{content:"\f1e1"}.fa-bomb:before{content:"\f1e2"}.fa-soccer-ball-o:before,.fa-futbol-o:before{content:"\f1e3"}.fa-tty:before{content:"\f1e4"}.fa-binoculars:before{content:"\f1e5"}.fa-plug:before{content:"\f1e6"}.fa-slideshare:before{content:"\f1e7"}.fa-twitch:before{content:"\f1e8"}.fa-yelp:before{content:"\f1e9"}.fa-newspaper-o:before{content:"\f1ea"}.fa-wifi:before{content:"\f1eb"}.fa-calculator:before{content:"\f1ec"}.fa-paypal:before{content:"\f1ed"}.fa-google-wallet:before{content:"\f1ee"}.fa-cc-visa:before{content:"\f1f0"}.fa-cc-mastercard:before{content:"\f1f1"}.fa-cc-discover:before{content:"\f1f2"}.fa-cc-amex:before{content:"\f1f3"}.fa-cc-paypal:before{content:"\f1f4"}.fa-cc-stripe:before{content:"\f1f5"}.fa-bell-slash:before{content:"\f1f6"}.fa-bell-slash-o:before{content:"\f1f7"}.fa-trash:before{content:"\f1f8"}.fa-copyright:before{content:"\f1f9"}.fa-at:before{content:"\f1fa"}.fa-eyedropper:before{content:"\f1fb"}.fa-paint-brush:before{content:"\f1fc"}.fa-birthday-cake:before{content:"\f1fd"}.fa-area-chart:before{content:"\f1fe"}.fa-pie-chart:before{content:"\f200"}.fa-line-chart:before{content:"\f201"}.fa-lastfm:before{content:"\f202"}.fa-lastfm-square:before{content:"\f203"}.fa-toggle-off:before{content:"\f204"}.fa-toggle-on:before{content:"\f205"}.fa-bicycle:before{content:"\f206"}.fa-bus:before{content:"\f207"}.fa-ioxhost:before{content:"\f208"}.fa-angellist:before{content:"\f209"}.fa-cc:before{content:"\f20a"}.fa-shekel:before,.fa-sheqel:before,.fa-ils:before{content:"\f20b"}.fa-meanpath:before{content:"\f20c"}

@charset "UTF-8";[class*=" icon-"]:before,[class^=icon-]:before,[data-icon]:before{font-family:vma-education!important;font-style:normal!important;font-weight:400!important;font-variant:normal!important;text-transform:none!important;speak:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}@font-face{font-family:vma-education;src:url(../fonts/vma-education.eot);src:url(../fonts/vma-education.eot?#iefix) format("embedded-opentype"),url(../fonts/vma-education.woff) format("woff"),url(../fonts/vma-education.ttf) format("truetype"),url(../fonts/vma-education.svg#vma-education) format("svg");font-weight:400;font-style:normal}[data-icon]:before{content:attr(data-icon)}.icon-allclasses:before{content:"\62"}.icon-design:before{content:"\63"}.icon-marketing:before{content:"\64"}.icon-office:before{content:"\65"}.icon-print:before{content:"\66"}.icon-programming:before{content:"\67"}.icon-angle-down:before{content:"\61"}.icon-angle-left:before{content:"\68"}.icon-angle-right:before{content:"\69"}.icon-angle-up:before{content:"\6a"}.icon-facebook:before{content:"\6b"}.icon-google-plus:before{content:"\6c"}.icon-instagram:before{content:"\6d"}.icon-linkedin:before{content:"\6e"}.icon-twitter:before{content:"\6f"}.icon-youtube:before{content:"\70"}.icon-pinterest:before{content:"\71"}.icon-behance:before{content:"\72"}.icon-dribbble:before{content:"\73"}.icon-rss:before{content:"\74"}.icon-stackoverflow:before{content:"\75"}.icon-dropbox:before{content:"\76"}.icon-flickr:before{content:"\77"}.icon-vimeo:before{content:"\78"}.icon-vine:before{content:"\79"}.icon-google-drive:before{content:"\7a"}.icon-close:before{content:"\41"}.icon-search:before{content:"\42"}