/**
 * Global
 *********************************/
.no-admin-bar #header { top:0; }

#header .top .container .top-right-block ul li {
    margin-left: 0;
}

#header .top .container .top-right-block ul li .item-session {
    color: white;
    font-size: 12px;
}
#header .top .container .top-right-block ul li .item-session .dashicons {
    line-height: inherit;
    font-weight: inherit;
    font-size: inherit;
}
#header .top .container .top-right-block ul li .item-session a {
    display: inline;
    padding: initial;
}

.navbar .navbar-nav .menu-item-has-children ul.sub-menu {
    display: none;
    min-width: initial;
    width: fit-content;
    width: -moz-fit-content;
    text-align: left;
}
.navbar .navbar-nav .menu-item-has-children ul.sub-menu li a {
    padding: 15px 15px;
    white-space: nowrap;
}
.navbar .navbar-nav .menu-item-has-children a {
    background-image: none;
}



.footer .section-footer .container .column .widget_nav_menu,
.footer .section-footer .container .column .widget_recent_entries {
    margin-top: 43px;
}
.footer .section-footer .container .column .widgettitle {
    margin-bottom: 30px;
}

/** Hide the tags tab of the sidebar navigation */
#sidebar a[href="#tags"], #sidebar a[href="#groups"] {
    display: none;
}

/**
 * Author page
 */
.author .avatar {
    visibility: hidden;
}
.author i.fa {
    font-size: 80%;
    padding-left: .4rem;
}

/** 
 * Front Page
 */

/** hide rss feed buttons and icons */
small.rss { display: none; }


/**
 * Single Job_Listing
 */
.single-job_listing #content .attachment-post-thumbnail {
    float: right;
    border: none !important;
    display: none;
}

.single-job_listing .meta-taxonomies {
    display: none;
}

.single-job_listing #content .job-details h3 {
    margin-bottom: .7rem;
}
.single-job_listing .job-details i.fa {
    font-size: 80%;
    padding-left: .4rem;
}

/**
 * Single Resume
 */
.single-resume .resume-thumbnail {
    display: none;
}

/**
 * Resume Preview
 */
.resume-template-default .resume_header .edit_button.button,
.resume-template-default .resume_header .mobile {
    display: none;
}

/**
 * Resume Archive
 */
.post-type-archive-resume .resumes .photo {
    visibility: hidden;
}



/**
 * Submit job
 */
.page-template-tpl-submit .submit_form.main_form fieldset #company-logo,
.page-template-tpl-submit .submit_form.main_form fieldset label[for="company-logo"],
.page-template-tpl-submit .submit_form.main_form fieldset input[name="tax_input[job_tag]"],
.page-template-tpl-submit .submit_form.main_form fieldset label[for="tax_input[job_tag]"] {
    display: none;
}

/**
 * Edit Job
 */
.page-template-tpl-edit-job .submit_form.main_form fieldset #company-logo,
.page-template-tpl-edit-job .submit_form.main_form fieldset label[for="company-logo"],
.page-template-tpl-edit-job .submit_form.main_form fieldset .images,
.page-template-tpl-edit-job .submit_form.main_form fieldset input[name="tax_input[job_tag]"],
.page-template-tpl-edit-job .submit_form.main_form fieldset label[for="tax_input[job_tag]"] {
    display: none;
}

/**
 * Dashboard
 */
.page-template-tpl-dashboard .myjobs_section table.data_list th:nth-of-type(4),
.page-template-tpl-dashboard .myjobs_section table.data_list td:nth-of-type(4),
.page-template-tpl-dashboard .myprofile_section table.data_list th:nth-of-type(4),
.page-template-tpl-dashboard .myprofile_section table.data_list td:nth-of-type(4) {
    display: none;
}

/**
 * Shared components
 *******************************************/


/**
 * Forms - Resume
 */
.page-template-tpl-edit-resume .submit_form.main_form fieldset #mobile,
.page-template-tpl-edit-resume .submit_form.main_form fieldset label[for="mobile"],
.page-template-tpl-edit-resume .submit_form.main_form fieldset #your-photo,
.page-template-tpl-edit-resume .submit_form.main_form fieldset label[for="your-photo"] {
    display: none;
}
.page-template-tpl-edit-resume #summary {
    min-height: 20rem;
    width: 100%;
}

.page-template-tpl-edit-resume #skills {
    min-height: 35rem;
    min-width: 100%;
}

.page-template-tpl-edit-resume .main_form p .taglist {
    background-color: white;
}

.page-template-tpl-edit-resume .main_form p label[for="groups"],
.page-template-tpl-edit-resume .main_form p input[name="groups"],
.page-template-tpl-edit-resume .main_form p input[name="groups"] + ul { 
    display: none;
}

/**
 * Job listing component
 */
ol.jobs li.job { padding: 8px 8px; }

@media screen and (max-width: 600px) {
    ol.jobs dd.location, .wider ol.jobs dd.location {
        width: 70%;
    }
}