/* =Anchors
---------------------------------------------------------------------------------- */
a, ol.jobs dd strong a {
	color: #3388BB;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3388BB;
	text-decoration: underline !important
}
a.button {
	background: #9B9B9B url(../images/button_grey.png) repeat-x top;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	display: block;
	text-align: center;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	padding: 2px;
	line-height: 3em;
}
a.button span {
	display: block;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	font-size: 1.5em;
	color: #fff;
}
a.button:hover {
	background-color: #515151;
}
a.button:hover span {
	border-color: #fff;
	color: #fff;
}

/* =Layout
---------------------------------------------------------------------------------- */
#header {
	padding: 40px 0 40px;
	border-top: 1px solid #fff;
}
#logo {
	color: #999;
	border-right: 2px dotted #d8d8d8;
	padding-right: 18px;
	margin: 0;
	text-shadow: 0 -1px 0 #fff;
	letter-spacing: -1px;
	float: left;
}
#logo a {
	color: #000;
}
#searchform {
	width: 650px; /* !important */
	padding: 15px 20px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background: #FBFBFB;
}
#searchform div {
	height: auto !important;
}
#searchform .search-wrap > div {
	border-top: 1px solid #b8b8b8;
	border-left: 1px solid #b8b8b8;
	border-bottom: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	background: #fff url(../images/search_input.png) repeat-x top;
	width: 648px;
	float: left;
}
#searchform > div > div #near_wrap {
	float: left;
}
#searchform > div > div #near_wrap ul  {
	list-style: none;
	margin: 0;
}
#searchform input.text {
	border: 0;
	color: #999;
	background: transparent;
	float: left;
	vertical-align: middle;
	font-size: 16px;
	outline: 0 !important;
	width: 283px; /* !important */
	padding: 2px 11px;
	margin: 6px 0;
}
#searchform button.submit {
	vertical-align: top;
	margin: 0;
	padding: 0;
	border: 0;
	float: right;
	height: 32px;
	width: 35px;
	background-image: url("../images/search.png");
}
/* for new search bar */
#searchform div.search-wrap > div {
	width:auto;
}
#searchform div.search-wrap div.radius {
	background: transparent none;
	padding: 4px 0 0 0;
	margin: 0;
	border: 0;
	float: right;
	height: auto !important;
}
#searchform input#search {
	width:302px;
	border-right: 1px dotted #ccc;
	padding: 2px 11px;
	margin: 6px 0;
}

#searchform input#near {
	width:264px;
	border-left: 1px dotted #ccc;
	padding: 2px 11px;
	margin: 6px 0;
	height: auto;
}

/* Mapquest compat*/
#searchform .mq-place-search {
	width:auto;
	position: initial!important;
	display: initial!important;
}
#searchform .mq-dropdown-menu {
	top: auto!important;
	left:auto!important;
	right:auto!important;
	width: auto;
	margin-top: 43px;
}

#searchform .mq-icon-clear {
	display:none;
}

/* end new search bar */

div#content {
	margin: 0;
	padding: 0;
}

.section {
	width: 690px;
}
.section, #searchform {
	background: #fff;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	box-shadow: 0 0 6px #d5d5d5;
	-moz-box-shadow: 0 0 6px #d5d5d5;
	-webkit-box-shadow: 0 0 6px #d5d5d5;
}
div.section_content {
	padding: 20px 20px 10px;
}

.section_header {
	border-bottom: 1px solid #E4E4E4;
	padding: 20px 20px 20px;
}
.section_footer .icon {
	color: #3388BB;
}
.section_footer li:first a {
	border-bottom-left-radius: 6px;
}
#apply_form, #share_form {
	background: url(../images/form.png) repeat;
	border-top: 1px solid #ddd;
}
#mainContent {
	width: 690px;
}
#sidebar, ul.widgets {
	width: 260px;
}
div#footer {
	font-size: 0.9em;
	background-color: #E8E8E8;
	padding: 0;
}
div#footer, div#footer p, div#footer span, div#footer li {
	color: #999999;
	text-align: left;
}
div#footer a, div#footer li a, #footer i:before {
	color: #3388BB;
}
#footer h1, #footer h2, #footer h3 {
	color: #000;
}
#footer .column:not(:first-child) {
	border-left: 1px solid #CFCFCF;
}
#footer h1, #footer h2, #footer h3 {
	border-bottom: 1px solid #CFCFCF;
}
#footer .copyright {
	border-top: 1px solid #CFCFCF;
}

/* =Wide Layout (no sidebar)
---------------------------------------------------------------------------------- */
.wider #mainContent, .wider .section {
	width: 990px !important
}
.wider ol.jobs dd.title {
	width: 500px !important;
}
.wider ol.jobs dd.location {
	width: 230px !important;
}
.wider #searchform {
	width: 950px !important
}
.wider #searchform div div {
	width: 948px !important
}
.wider #searchform input.text {
	width: 890px;
}


/* =Pagination
---------------------------------------------------------------------------------- */
.paging {
	padding: 20px;
}
.paging .top a {
	color: #555;
	background: #fff;
	margin: 2px;
	padding: 2px 4px;
	border: 1px solid #D8D8D8;
}
.paging .top a:hover, .paging .top a:focus {
	color: #555;
	background: #D8D8D8;
	border: 1px solid #D8D8D8;
	text-decoration: none !important;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current, .comment-paging .page-numbers:hover, .comment-paging .current {
	border: 1px solid #D8D8D8 !important;
	background: #D8D8D8 !important;
	color: #555 !important;
}

/* =Headings
---------------------------------------------------------------------------------- */
.pagetitle {
	padding: 15px 20px;
}

/* =Other Typography
---------------------------------------------------------------------------------- */
small.rss {
	line-height: 1.6em;
}

/* =Lists
---------------------------------------------------------------------------------- */

#content ol.jobs {
	margin: 0 !important;
	padding: 0 !important;
	border-top: 1px solid #ddd;
}
ol.jobs li.job {
	border-bottom: 1px solid #ddd;
	padding: 8px 20px;
	list-style: none outside;
	background: #fff;
}
.myprofile_section ol.jobs li.job {
	padding: 8px 0;
}
ol.jobs li.job-alt {
	background: #FEFEFE;
}
ol.jobs li.job-featured {
	background: #FEFDF5;
	border-color: #E0E0D8;
	border-top: 1px solid #fff;
}
ol.jobs li.job-featured.job-alt {
	background: #FEFDF4;
	border-color: #E0E0D8;
	border-top: 1px solid #fff;
}
ol.jobs dl {
	font-size: 0.8em;
}
ol.jobs dd a, h1 small a {
	color: #999;
	font-style: normal;
	font-weight: bold;
}
dd.type {
	width: 100px;
	padding-right: 10px;
	vertical-align: middle;
}
ol.jobs dd.title {
	width: 310px;
	padding-right: 10px;
}
ol.jobs dd.location {
	width: 140px;
	padding-right: 10px;
}
ol.jobs dd.date {
	width: 70px;
	text-align: right;
}
div.date {
	text-align: center;
	float: right;
	padding: 0 0 0 19px;
	line-height: 1.54em;
	color: #999;
	border-left: 1px solid #E4E4E4;
}
ol.jobs dd strong, div.date strong, td.date strong {
	color: #555;
	display: block;
	font-size: 1.4em;
	font-weight: normal;
}
ol.jobs dd strong a {
	font-weight: normal;
}
ol.jobs li.job-expired {
	color: #ddd !important;
	background: #fff !important;
	border-bottom: 1px solid #ddd !important;
	border-top: 0 !important;
}
ul.posts {
	margin: 0 !important;
	padding: 0 !important;
	list-style: none outside !important;
	border-top: 1px solid #ddd;
}
ul.posts li.post {
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	margin: 0 !important;
	padding: 1.62em 20px 0;
	list-style: none outside;
	background: #fff;
}
ul.posts li.post h2 {
	margin-bottom: 5px !important;
}
ol.resumes li.resume {
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	zoom: 1;
	margin: 0 !important;
	padding: 8px 20px;
	list-style: none outside;
	background: #fff;
}
ol.resumes dd.title {
	width: 398px;
	padding-right: 10px;
}
ol.resumes dd.location {
	width: 130px;
	padding-right: 10px;
}

/* Main Nav */
#mainNav ul {
	margin: 0 !important;
	padding: 8px 0 0 20px !important;
	float: left;
	list-style: none !important;
}
#mainNav li {
	float: left;
	display: inline;
	margin: 0 10px 0.2em 0;
	border-radius: 5px;
}
#mainNav li.current_page_item {
	padding: 0 0 8px;
}
#mainNav li a {
	float: left;
	padding: 0.8em;
	border-radius: 3px;
	color: #555 !important;
	text-decoration: none !important;
}
#mainNav li.current_page_item a, #mainNav li.current_page_ancestor a,  #mainNav li.current_page_parent a, #mainNav li.current-cat a, #mainNav li a:hover, #mainNav li a:focus,
#mainNav li.current-menu-item a {
	background: #D7D7D7;
}
#mainNav li.current_page_item, #mainNav li.current_page_ancestor,  #mainNav li.current_page_parent, #mainNav li.current-cat, #mainNav li.current-menu-item {
	background: url(../images/nav.png) no-repeat bottom;
}
/* Top Nav */
#topNav {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #d8d8d8;
	background-color: #e8e8e8;
}
#topNav .inner {
	position: relative;
}
#topNav ul {
	margin: 0;
	width: 988px;
	float: left;
	padding: 0;
	text-align: left;
	line-height: 1 !important;
	font-size: 11px;
	border-right: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
}
#topNav li {
	list-style: none outside;
	float:left;
	position: relative;
	padding: 0 0 8px 0;
	margin: 0 0 -8px 0;
}
#topNav li a {
	color: #555;
	float:left;
	text-decoration: none;
	margin: 0 !important;
	padding: 10px;
	border-right: 1px solid #d8d8d8;
}
#topNav li.right {
	float: right;
}
#topNav li.right a {
	border-left: 1px solid #d8d8d8;
	border-right: 0;
}
#topNav li.current-menu-item a,
#topNav li.current_page_item a, #topNav li a:hover, #topNav li a:focus {
	background: #d8d8d8;
	text-decoration: none !important
}
#topNav li.current-menu-item,
#topNav li.current_page_item {
	background: url(../images/nav.png) no-repeat bottom;
}
/* Dropdown */
#topNav ul ul {
	line-height: 1;
	position:absolute;
	top: -999em;
	width: 18em;
	font-weight:normal;
	margin: 1px 0 0 -1px !important;
	padding: 0 !important;
	border:0;
	border-bottom:1px solid #d8d8d8;
	float: none !important;
	font-size: 1em;
}
#topNav ul ul ul {
	margin: 0 0 0 -1px !important;
}
#topNav ul ul li {
	width: 100%;
	margin: 0;
	padding: 0;
	float:none;
	background: #f0f0f0;
}
#topNav ul ul li a {
	padding:0 10px;
	float: none;
	display: block;
	line-height: 2.5em !important;
	border-top:1px solid #d8d8d8;
	border-left:1px solid #d8d8d8;
	border-right:1px solid #d8d8d8;
	background: transparent !important;
}
#topNav ul ul li.current-menu-item a,
#topNav ul ul li.current_page_item a {
	background: #d8d8d8 !important;
	color: #555;
}
#topNav li:hover, #topNav li.sfhover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}
#topNav ul ul li:hover {
	background:#ccc;
}
#topNav ul li:hover ul,
#topNav ul li.sfHover ul {
	left:			0;
	top:			2.86em; /* match top ul list item height */
	z-index:		99;
}
#topNav ul li:hover li ul,
#topNav ulli.sfHover li ul {
	top:			-999em;
}
#topNav ul li li:hover ul,
#topNav ul li li.sfHover ul {
	left:			18em; /* match ul width */
	top:			0;
}
#topNav ul li li:hover li ul,
#topNav ul li li.sfHover li ul {
	top:			-999em;
}
#topNav ul li li li:hover ul,
#topNav ul li li li.sfHover ul {
	left:			15em; /* match ul width */
	top:			0;
}


/* =Tables
---------------------------------------------------------------------------------- */
table {
	font-size: 100%; /* IE hack */
}
table.data_list {
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #ddd;
}
table.data_list th {
	line-height: 2.3em;
	font-size: 0.85em;
	padding: 0 8px;
	color: #999;
	border-bottom: 1px solid #ddd;
	background: #FBFBFB;
}
table.data_list td {
	vertical-align: middle;
	line-height: 1.8em;
	padding: 0 8px;
	border-bottom: 1px solid #ddd;
}
table.data_list td.days {
	font-size: 1.19em;
	padding: 8px;
}
table.data_list td.actions a {
	margin-left: 8px;
}
table.data_list td.actions {
	text-align: right;
}
table.data_list td.date {
	text-align: center;
	color: #999;
	padding: 8px;
	font-size: 0.85em;
}


/* =Forms
---------------------------------------------------------------------------------- */
form.filter {
	padding: 8px 20px;
	border-top: 1px solid #ddd;
	background: #FBFBFB;
	font-size: 0.8em;
}
form.filter p {
	float: left;
	margin: 0 10px 0 0 !important;
	color: #777;
}
form.filter input {
	vertical-align: middle;
}
form.filter .submit,
#commentform #submit {
	font-size: 1em;
	outline: 0;
	border: 0;
	background: #D8D8D8;
	color: #555;
	padding: 7px 10px;
	margin: -2px 0 0 0;
	border-radius: 3px;
	vertical-align: middle;
	cursor: pointer;
}
form.filter .submit:hover, form.filter .submit:focus,
#commentform #submit:hover, #commentform #submit:focus {
	background: #3388BB;
	color: #fff
}
form.main_form fieldset {
	padding: 0 0 0 0;
}
form.main_form legend {
	margin: 15px 0 0;
	background: #fff;
	padding: 10px 0;
	font-weight: bold;
}
form.main_form input.text:focus,
form.main_form textarea:focus,
form.account_form input.text:focus {
	background: #f3f3f3;
}
form.account_form input.text {
	width: 92%;
}
form.main_form input.small {
	width: 15%;
	margin-left: 35%;
}
form.main_form textarea {
	vertical-align: top;
	height: 200px;
	width: 630px;
	font-size:1.1em;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
}
form.main_form textarea.short, form.submit_form textarea.short {
	width: 50%;
	height: 50px;
	font-size: 1.2em;
	padding: 7px;
}
form.main_form .description {
	display: block;
	font-size: 0.8em;
	color: #777;
}
form.main_form p label {
	text-align: left;
}
form.main_form p,
form.account_form p {
	clear:both;
	margin: 10px 0 !important;
	padding: 0 2px !important;
	overflow: hidden;
}
form.main_form p.optional input.text, form.main_form p.optional textarea {
	border: 1px solid #ddd;
}
form.account_form a.lostpass {
	padding: 10px 20px;
	float: left;
}
form.main_form .submit:hover, form.filter .submit:focus, form.account_form .submit:hover, p.button a:hover {
	background: #3388BB;
	color: #fff;
	text-decoration: none !important;
}
.ui-autocomplete {
	position: absolute;
	cursor: default;
	list-style:none;
	padding: 5px;
	margin: 0;
	display:block;
	background: #F0F0F0;
	border: 1px solid #999;
	text-align: left;
	font-size: 1.3em;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
}
.ui-autocomplete li {
	margin:0;
	padding: 0;
	width: 100%;
}
.ui-autocomplete li a {
	text-decoration:none;
	display:block;
	padding:3px 6px;
	line-height:2em;
	zoom:1;
	color: #555;
}
.ui-autocomplete li a:hover, .ui-autocomplete li a.ui-state-hover {
	background: #D8D8D8;
	text-decoration:none;
}
.ui-autocomplete-loading { background: #fff url('../images/loading.gif') right center no-repeat; }
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* =Comments
---------------------------------------------------------------------------------- */
ol#comment-list li.bypostauthor .comment-text, ol#comment-list li.bypostauthor img.avatar {
	border-color: #D4E2EB;
}

span#comments-rss a {
	float: right;
	font-size: 0.6em;
	border-bottom: 1px solid #C7E4F1;
	text-decoration: none;
	color: #222;
}


/* =Widgets
---------------------------------------------------------------------------------- */
ul.widgets {
	margin: 0 !important;
	padding: 0;
	text-align: left;
	border-bottom: 1px solid #fff;
	float: left;
}
ul.widgets li.widget {
	list-style-type: none;
	margin: 0;
	padding: 30px 12px 10px !important;
	width: 236px;
	float: left;
	font-size: 0.8em;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #d8d8d8;
	color: #777;
}
ul.widgets li.widget.widget-nav {
	padding: 30px 0 26px !important;
	width: 260px;
}
ul.widgets li.widget.widget-nav div ul li a.top {
	background: #fff url(../images/arrow-sm.png) no-repeat 242px center;
}
ul.widgets li.widget.widget-nav div {
	background: #fff
}
ul.display_section li {
	font-size: 0.75em;
	padding: 8px 12px;
}
ul.widgets li.widget_jr_125ads, ul.widgets li.widget_jr_facebook {
	padding: 30px 0 10px;
	width: 260px;
}
ul.widgets li.widget-submit {
	padding: 0 !important;
	width: 260px;
	border-top: 0;
	border-bottom: 1px solid #d8d8d8;
}
ul.widgets li.widget-submit div {
	text-align: center;
	margin: 0 0 20px !important;
	padding: 12px 10px 12px !important;
	width: 236px;
	border: 2px dotted #d8d8d8;
	background: #F6F6F6;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
ul.widgets li.widget-submit div p {
	margin: 12px 0 0 !important;
}
ul.widgets li.widget-submit div p.pricing {
	font-size: 1.3em;
	font-style: italic;
	color: #999;
	line-height: 1em;
}
ul.widgets li.widget-submit div p.pricing em {
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-size: 1.4em;
	color: #555;
	font-style: normal;
}
ul.widgets li.widget ul {
	margin: 0 !important;
	padding: 10px 0 0 !important;
	list-style: none !important;
}
ul.widgets li.widget ul ul {
	padding: 5px 0 0 !important;
}
ul.widgets li.widget ul ul li {
	margin: 0 20px 0 !important;
	border: 0;
	padding: 0 !important;
}
ul.widgets li.widget h2.widget_title {
	padding: 0;
	margin: 0;
	font-weight: bold;
}
ul.widgets li.widget .widget_content {
	padding: 0;
	overflow: hidden;
}
.textwidget {
	padding: 10px 0 !important;
}
/* Search Widget */
.widget_search .widget_content {
	padding: 15px 0 0 !important;
}
.widget_search input#s {
	border: 1px solid #8D8B8B;
	background: #f7f7f7;
	width: 184px !important;
	display: inline;
}
.widget_search #searchsubmit {
	color: #363636;
	background: #fff;
	border: #fff;
	font-weight: bold;
	cursor: pointer;
	border: 0;
	outline: 0;
	display: inline;
	font-size: 11px;
}
.widget_search label {
	display: none;
}

.widget_rss img {
	vertical-align: middle;
	position: relative;
	margin-top: -3px;
}
li.widget_categories li.current-cat a,
li.widget_pages li.current_page_item a {
	font-weight: bold;
}
li.widget_categories li.current-cat li a,
li.widget_pages li.current_page_item li a {
	font-weight: normal;
}
/* Tags Widget */
.widget_tag_cloud .widget_content div {
	line-height: 2em;
	overflow: hidden;
	padding: 10px 0;
}
/* Calendar Widget */
.widget_calendar th {
	font-weight: bold;
}
.widget_calendar tbody td {
	border-bottom: 1px dotted #d8d8d8;
	font-size: 1em;
	padding: 2px 5px 2px 5px;
	text-align: center;
}
.widget_calendar tbody td#today {
	font-style: italic;
}
.widget_calendar tbody tr td:hover {
	background-color: #d8d8d8;
}
.widget_calendar tbody td a {
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
}
.widget_calendar #prev,
.widget_calendar #next {
	padding: 5px 0 0 0;
}
.widget_calendar #next {
	text-align: right;
}
.widget_calendar #prev a,
.widget_calendar #next a {
	color: #777 !important;
	font-weight: bold;
	font-style: italic;
}
.widget_calendar thead th {
	text-align: center;
}
.widget_calendar caption {
	text-align: center;
	font-weight: bold;
	padding-bottom: 5px;
}
div#calendar_wrap {
	padding: 0 0 10px;
}
.widget_calendar table {
	width: 100%;
}

/*=Responsive
---------------------------------------------------------------------------------------*/

@media screen and (max-width: 1000px) {

	#wrapper{
		padding: 0 20px 0;
	}
	#topNav ul {
		width: 100%;
	}
	.inner {
		width: 100%;
	}
	#mainContent, .section, #searchform {
		width: auto;
		position: relative;
	}
	.section {
		width: 100%;
	}
	#mainContent {
		margin-right: 305px;
	}
	#sidebar {
		margin-left: -260px;
		position: relative;
	}
	#searchform input#search {
		border-right: 0;
	}
	ol.jobs dd.title {
		clear: left;
	}
	ol.jobs dd.title {
		width: 50%; /* 310px / 650px */
		padding-right: 1.53846154%; /* 10px */
	}
	ol.jobs dd.location {
		width: 30%; /* 140px / 650px */
		padding-right: 1.53846154%; /* 10px */
	}
	ol.jobs dd.date {
		width: 10.7692308%; /* 70px / 650px */
		float: right;
	}
	form.main_form p label {
		width: 45%;
	}
	#commentform textarea,
	form.main_form textarea {
		width: 90%;
	}
	/* resumes */
	ol.resumes dd.title {
		width: 47%;
	}
	ol.resumes dd.date {
		float: right;
	}
	/* widget */ /* default */
	ul.widgets li.widget.widget-nav {
		width: 100%;
	}

}
@media screen and (max-width: 920px) {

	ol.jobs dd.title {
		clear: none;
		width: 290px;
		padding-right: 10px;
	}
	ol.jobs dd.location {
		clear: left;
		padding-left: 110px;
		width: 140px;
		padding-right: 10px;
	}
	ol.jobs dd.date {
		width: 70px;
	}
}

@media screen and (max-width: 860px) {

	#logo {
		padding-right: 0;
	}
	#logo a,
	#logo small {
		text-align: center;
	}
	#logo small {
		margin-bottom: 25px;
	}
	#mainContent {
		margin-right: 0;
	}
	#searchform div.search-wrap > div {
		width: 100%;
	}
	#searchform div.search-wrap div.radius {
		width: auto; /*fixes radius selector box */
	}
	#searchform {
		position: relative;
		display: block;
	}
	.section {
		position: relative;
	}
	#sidebar {
		margin-left: 0;
		position:relative;
	}
	#sidebar,
	ul.widgets,
	ul.widgets li.widget-submit,
	ul.widgets li.widget {
		float: left;
		width: 100%;
	}
	ol.jobs dd.location {
		padding-left: 0;
		clear: none;
	}
	ol.jobs dd.title {
		clear: none;
	}
	/* resumes */
	ol.resumes dd.title {
		width: 60%;
	}

}
@media screen and (max-width: 710px) {

	ol.jobs dd.title {
		clear: left;
	}
	/* resumes */
	ol.resumes dd.title {
		width: 47%;
	}

}

@media screen and (max-width: 600px) {

	#header .logo_wrap {
		display: block;
	}
	#logo,
	#mainNav {
		display: block;
		width: 100%;
	}
	#mainNav {
		text-align: center;
	}
	#mainNav ul {
		margin: 0 auto -20px!important;
		float: none;
		padding: 8px 0 0 0!important;
	}
	#mainNav ul li {
		display: inline-block;
		text-align: center;
		float: none;
		margin: 0 5px 30px;
	}
	#mainNav li a {
		float: none;
	}
	#logo {
		border-right: none;
	}
	#searchform input#search {
		width: 100%;
	}
	#searchform input.text {
		float:none;
	}
	#searchform input#near {
		border: none;
		width: 100%;
	}
	#searchform button.submit {
		float: left;
	}
	ol.jobs dd.title {
		clear: none;
		width: auto;
	}
	ol.jobs dd.location {
		clear: left;
		padding-left: 110px;
		width: 130px;
		padding-right: 10px;
	}
	ol.jobs dd.date {
		clear: none;
		width: 70px;
	}
	/* apply for this job form */
	form.main_form p label {
		width: auto;
		float: none;
		padding-top: 0;
		text-align: left;
		display: block;
		padding-bottom: 6px;
	}
	form.main_form input.text,
	form.main_form textarea,
	form.main_form.contact_form textarea,
	form.account_form input.text,
	#apply_form textarea {
		width: 90%;
	}
	/* login/register forms */
	.col-1,
	.col-2 {
		width: auto;
		float: none;
	}
	.col-1 {
		margin-bottom: 1.65em;
	}
	/* resumes */
	ol.resumes dd.title {
		width: 100%;
		padding-bottom: 10px;
	}
	ol.resumes dd.photo {
		clear: left;
	}
	ol.resumes dd.location {
		width: 50%;
	}
}

@media screen and (max-width: 480px) {

	ol.jobs dd.title {
		width: 200px;
	}
}

@media screen and (max-width: 400px) {

	ol.jobs dd.title {
		clear: left;
		width: 100%;
	}
	ol.jobs dd.location {
		padding-left: 0;
	}
	ol.jobs dd.type {
		width: 150px;
		font-size: 1.5em;
	}
	/* section footer links */
	.section_footer li a {
		border-bottom: 1px solid #E4E4E4;
	}
	.section_footer li.edit-job a {
		border-bottom: none;
	}
	/* dashboard and edit screens less padding */
	.page-template-tpl-dashboard-php div#wrapper,
	.page-template-tpl-edit-job-php div#wrapper{
		padding: 0 10px 0;
	}
	.myjobs div.section_content,
	.page-template-tpl-edit-job-php .section_content {
		padding: 10px;
	}
	div#wrapper{
		padding: 0 5px 0;
	}
}